<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>destination</key>
	<string>export</string>
	<key>manageAppVersionAndBuildNumber</key>
	<true/>
	<key>method</key>
	<string>app-store</string>
	<key>provisioningProfiles</key>
	<dict>
		<key>com.example.teat1</key>
		<string>NewDistribution</string>
	</dict>
	<key>signingCertificate</key>
	<string>D982E805C3C5FBC26380FB2384D5EFACCD2F9F88</string>
	<key>signingStyle</key>
	<string>manual</string>
	<key>stripSwiftSymbols</key>
	<true/>
	<key>teamID</key>
	<string>Z2JFB84FRC</string>
	<key>uploadSymbols</key>
	<true/>
</dict>
</plist>
